process {
    executor = 'k8s'
}

aws {
    accessKey = 'minio'
    secretKey = 'miniopwd'
    client {
        endpoint = 'http://minio-service.minio.svc.cluster.local:9000'
        s3PathStyleAccess = true
    }
}

wave {
    enabled = true
}

fusion {
    enabled = true
    exportStorageCredentials = true
}

k8s {
    namespace = '<yournamespace>'
    serviceAccount = 'nextflow'
}
